@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

.App {
  background-color: rgb(220, 223, 178);
  height: 100vh; 
  color: rgb(20, 19, 1)
}

.NavBar{
  padding: 20px; 
  background-color:  rgb(139, 73, 11);
  color: white; 
  a{
    color: white; 
    padding: 0 20px 0px 0px; 
  }
}

.artBox{
  padding: 20px 0px; 
  width: 70vw; 
}

.homePageLinkImage{
  max-width: 50%;
  margin: 100px auto; 
  display: block; 
}
.discord {
  font-family: "PT Sans", sans-serif;
  display: flex;
  flex-direction: row;
  background: rgb(54, 57, 63);
  color: white;
  .portfolioProfilePictureImage {
    width: 200px;
    object-fit: contain;
    align-self: flex-stalrt;
    border-radius: 100px;
    margin: 10px;
  }
  
  .portfolioProfilePictureTextboxHeader {
    margin-top: 30px; 
    span{
      vertical-align:middle;
    }
    .portfolioProfilePictureTitle {
      font-weight: bold;
      font-size: 20px;
    }
    .portfolioProfilePictureDate{
      color: rgb(163, 166, 172);
      padding-left: 5px; 
    }
  }
  .portfolioProfilePictureDescription{
    color: rgb(223, 223, 223)
  }
}

