@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

body {
  background-color: #800020;
}
body:before {
  /*
  background-attachment: scroll;
  content: "";
  display: block;
  height: var(--background-height);
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  transform: scale(1);
  width: 100vw;
  z-index: 0;
  background-image: linear-gradient(45deg, #f2bfc5 27%, #f7d3b2 93%);
  background-size: 57px, auto;
  background-position: center, 0% 0%;
  background-repeat: repeat, repeat;
  */
}

.App {
  height: 100%;
  color: white;
  font-family: "PT Sans", sans-serif;
  padding: 20px;
  /* background-image: linear-gradient(45deg, #800020 27%, #410413 93%); */
}

.inlineLink {
  display: inline;
  text-decoration: underline;
  cursor: pointer;
}

.NavBar {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  color: white;

  a {
    color: white;
    padding: 0 20px 0px 0px;
    &:hover {
      color: rgb(250, 166, 166);
    }
    text-decoration: none;
    font-size: 1.4em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  .leftSideHeader {
    font-size: 2em;
    letter-spacing: 0.3em;
    padding-left: 100px;
  }
}

.homePageLinkImage {
  max-width: 50%;
  margin: 100px auto;
  display: block;
}

.ProfilePictures {
  display: flex;

  .ProfilePicturesLeftSide {
    display: flex;

    flex-direction: column;
    flex: 1;
    width: 50vw;
    margin-top: 70px;
    padding: 10px;
    margin-right: 20px;

    .ProfilePicturesLeftSideHeader {
      color: white;
      font-size: 72px;
      letter-spacing: 0.1em;
      font-weight: bold;
      font-family: "PT Sans", sans-serif;
    }
    .ProfilePicturesLeftSideSubHeader {
      color: white;
      font-size: 36px;
      font-weight: bold;
      font-family: "PT Sans", sans-serif;
      padding-top: 40px;
    }

    .ProfilePicturesLeftSideCommissionInfo {
      color: white;
      font-size: 24px;
      font-weight: bold;
      font-family: "PT Sans", sans-serif;
      padding-top: 60px;
      max-width: 400px;
    }

    .ProfilePicturesLeftSideCommissionStatusHeader {
      color: white;
      font-size: 40px;
      font-weight: bold;
      font-family: "PT Sans", sans-serif;
      padding-top: 60px;
      text-align: center;
    }

    .ProfilePicturesLeftSideCommissionStatusIndicator {
      color: white;
      font-size: 48px;
      font-weight: bold;
      font-family: "PT Sans", sans-serif;

      text-align: center;
    }

    .ProfilePicturesLeftSideCTA {
      padding: 13px 20px;
      border-radius: 15px;

      text-align: center;
      max-width: 300px;
      font-size: 52px;
      font-weight: bold;
      font-family: "PT Sans", sans-serif;
      margin: 50px auto 0px;
      line-height: 1.2em;
    }

    .ProfilePicturesLeftSideCTA {
      border: none;
      outline: none;
      color: rgb(0, 0, 0);
      background: rgb(255, 255, 255);
      cursor: pointer;
      position: relative;
      z-index: 0;
      border-radius: 10px;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;

      margin: auto auto;

      &:before {
        content: "";
        background: linear-gradient(
          45deg,
          #ff0000,
          #ff7300,
          #fffb00,
          #48ff00,
          #00ffd5,
          #002bff,
          #7a00ff,
          #ff00c8,
          #ff0000
        );
        position: absolute;
        top: -2px;
        left: -2px;
        background-size: 400%;
        z-index: -1;
        filter: blur(5px);
        -webkit-filter: blur(5px);
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        animation: glowing-button-85 20s linear infinite;
        transition: opacity 0.3s ease-in-out;
        border-radius: 10px;
      }

      &:after {
        z-index: -1;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgb(255, 255, 255);
        left: 0;
        top: 0;
        border-radius: 10px;
      }

      &:hover {
        color: #e5e7ef;
        &::after {
          background-color: black;
        }
      }
    }

    @keyframes glowing-button-85 {
      0% {
        background-position: 0 0;
      }
      50% {
        background-position: 400% 0;
      }
      100% {
        background-position: 0 0;
      }
    }

    .ProfilePicturesLeftSideFooter {
      display: flex;
      justify-content: center;
      padding: 5px;
      /*   margin-top: auto; */
      svg {
        fill: white;
        width: 50px;
        cursor: pointer;
        margin: 20px;
        background: #3b000f;
        padding: 40px;
        border-radius: 30px;
      }

      svg:hover {
        fill: #e40039;
      }
    }
  }
  .ProfilePicturesRightSide {
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    width: 50vw;
    position: relative;
    .ProfilePicturesRightSideText {
      color: black;
      text-align: center; 
      margin: 0px;
      margin-top: -10px;  
      padding: 0px;
      padding-bottom: 10px;  
    }
    .ProfilePicturesRightWhiteBackground {
      background-color: white;
      padding: 20px;
      margin-top: 50px;
      width: 45vw;
      border-radius: 10px;
      .artBox {
        padding: 20px 0px;
        width: 45vw;
        align-items: center;
      }

      .discord {
        font-family: "PT Sans", sans-serif;
        display: flex;
        flex-direction: row;
        background: rgb(54, 57, 63);
        color: white;
        border-radius: 20px;
        margin-bottom: 20px;
        .portfolioProfilePictureImage {
          width: 200px;
          object-fit: contain;
          align-self: flex-stalrt;
          border-radius: 50%;
          margin: 20px 10px 10px 10px;
        }

        .portfolioProfilePictureTextboxHeader {
          span {
            vertical-align: middle;
          }
          .portfolioProfilePictureTitle {
            font-weight: bold;
            font-size: 20px;
          }
          .portfolioProfilePictureDate {
            color: rgb(163, 166, 172);
            padding-left: 5px;
          }
        }
        .portfolioProfilePictureDescription {
          color: rgb(223, 223, 223);
          padding: 0px 20px 0px 0px;
        }
      }

      .ProfilePicSelectors {
        display: flex;
        flex-wrap: wrap;
        width: 45vw;

        .profilePicSelector {
          flex: 1 0 calc(25% - 10px);
          /* margin: 5px; */
          margin: 2px;
          cursor: pointer;
          /*   height: 20vh;  */

          .profilePicSelectorImage {
            /* width: 50px; 
  height: 50px; */

            width: 100%;
            height: 100%;
            border-radius: 2px;
            &:not(.activeSelector) {
              -webkit-filter: grayscale(80%);
            }
            &:hover {
              -webkit-filter: grayscale(0);
            }
          }
        }
      }
    }
  }
}

.CommissionInfo {
  width: 66vw;
  margin: 50px auto;

  .CommissionInfoStatus {
    display: flex;
    font-size: 2em;
    width: 100%;
    align-items: center;
    text-transform: uppercase;
    .CommissionInfoStatusShowmanship {
      background: black;
      margin-left: 35px;
      justify-self: center;
      flex: 1;
      border-width: 2px;
      text-align: center;
      padding: 5px 0px;
      letter-spacing: 0.2em;

      border: none;
      outline: none;
      background: rgb(255, 255, 255);
      cursor: pointer;
      position: relative;
      z-index: 0;
      border-radius: 10px;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;

      &:before {
        content: "";
        background: linear-gradient(
          45deg,
          #ff0000,
          #ff7300,
          #fffb00,
          #48ff00,
          #00ffd5,
          #002bff,
          #7a00ff,
          #ff00c8,
          #ff0000
        );
        position: absolute;
        top: -2px;
        left: -2px;
        background-size: 400%;
        z-index: -1;
        filter: blur(5px);
        -webkit-filter: blur(5px);
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        animation: glowing-button-85 20s linear infinite;
        transition: opacity 0.3s ease-in-out;
        border-radius: 10px;
      }

      &:after {
        z-index: -1;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgb(255, 255, 255);
        left: 0;
        top: 0;
        border-radius: 10px;
      }
    }

    .blinking {
      animation: blinkingText 1.25s infinite;
    }
    @keyframes blinkingText {
      0% {
        color: rgb(255, 255, 255);
      }
      50% {
        color: rgb(242, 20, 138);
      }
      100% {
        color: rgb(255, 255, 255);
      }
    }
  }

  .CommissionInfoApplicationBody {
    font-size: 1.2em;
  }
  .CommissionInfoHeader {
    text-align: center;
    letter-spacing: 0.1rem;
    width: calc(100% + 0.1rem);
    font-size: 1.875em;
    line-height: 1.375;
    font-weight: 200;
    padding-top: 50px;
    text-transform: uppercase;
  }
  .CommissionInfoSubHeader {
    padding: 50px 0px;
    text-align: center;
    max-width: 40vw;
    margin: 0 auto;
  }

  .CommissionInfoApplicationSubHeader {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.4em;
  }

  .CommissionInfoApplicationBodyItalics {
    font-style: italic;
    padding: 30px 0px 10px;
    font-size: 1.2em;
  }

  ol {
    .CommissionInfoApplicationBody {
      margin-top: 10px;
      font-size: 1.1em;
    }
  }

  ul {
    li {
      padding: 5px 0px;
      font-size: 1.1em;
    }
  }

  .DosContainer {
    li {
      list-style: none;
    }
    li::before {
      content: "";
      display: inline-block;
      height: 15px;
      width: 15px;
      margin-right: 3px;
      background-image: url("./assets/check-solid.svg");
    }
  }

  .DontsContainer {
    /*
    list-style: georgian inside url('./assets/x-solid.svg');
     */
    li {
      list-style: none;
    }
    li::before {
      content: "";
      display: inline-block;
      height: 15px;
      width: 15px;
      background-repeat: no-repeat;
      margin-right: 3px;
      background-image: url("./assets/x-solid.svg");
    }
  }

  .CommissionInfoApplicationListSubHeader {
    margin-left: -40px;
    font-style: italic;
    font-size: 1.2em;
  }

  .CommissionInfoApplicationDisclaimer {
    padding-bottom: 80px;
    font-weight: bold;
    text-align: center;
    width: 50vw;
    font-size: 1.2em;
    margin: 0 auto;
  }
  .CommissionInfoPricingContainer {
    display: flex;
  }
  .CommissionInfoPricingLeftImageContainer {
    padding: 2rem;
    justify-content: center;
    align-content: center;
    align-items: center;
    display: inline-flex;
    width: auto;
    flex-wrap: wrap;
    flex-grow: 1;
    .CommissionInfoPricingImage {
      max-width: 30vw;
    }
  }
  .CommissionInfoPricingRightContainer {
    padding: 2rem;
    .CommissionInfoPricingHeader {
      font-size: 1.8em;
      font-style: italic;
      margin: 0px;
    }

    .CommissionInfoPricingBody {
      font-style: italic;
      margin-top: 50px;
    }
  }
}
